

.serif-text {
  font-family: 'Source Serif 4', serif;
}

.text-900 {
  font-weight: 900;
}

.text-700 {
  font-weight: 700;
}

.text-400 {
  font-weight: 400;
}

.xxxlarge-text {
  font-size: 5rem;
}

.xxlarge-text {
  font-size: 4rem;
}

.xlarge-text {
  font-size: 3rem;
}

.large-text {
  font-size: 2rem;
}

.med-text {
  font-size: 1rem;
}

.small-text {
  font-size: 0.75rem;
}

.xsmall-text {
  font-size: 0.5rem;
}

.xxsmall-text {
  font-size: 0.25rem;
}