
.history {
  &__no-items {
    text-align: center;
    color: rgb(var(--color-background-secondary))
  }
  &__items {
    display: flex;
  }
}

@media all and (min-width: 700px) {
  .history {
    &__items {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}