
.url-changer {
  position: fixed;
  bottom: 0;
  height: 70px;
  width: 100%;
  border-top: 1px solid rgb(var(--color-foreground), 1);
  background-color: rgb(var(--color-background));
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;

  span {
    flex: 1;
  }

  .input-container {
    margin: 0;
    flex: 1;
    input {
      padding: 0.5rem;
    }
  }
}